*.idea
*.dll
*.pdb
*.dll
*.cache
*.cache
*.ts-template
*.cs-template
*.js
*.vb-template
onlyorm/OnlyOrm.Test/obj/OnlyOrm.Test.csproj.nuget.dgspec.json
onlyorm/.vscode/solution-explorer/template-list.json
onlyorm/OnlyOrm.Test/obj/OnlyOrm.Test.csproj.nuget.dgspec.json
onlyorm/OnlyOrm.Test/obj/project.assets.json
